body {
  text-align: center;
  padding: 0 2rem;
  background: #1A1A1A;
  color: #e6e6e6;
}

.App__header {
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.App__logo {
  height: 32px;
  width: 32px;
  margin: 0 16px 0 0;
}

.App__header h1 {
  margin: 0;
}
